diff --git a/chrome/app/app-Info.plist b/chrome/app/app-Info.plist
index 9190c5ef6c092..cf0106b8ba53e 100644
--- a/chrome/app/app-Info.plist
+++ b/chrome/app/app-Info.plist
@@ -409,5 +409,17 @@
 	<array>
 		<string>_googlecast._tcp</string>
 	</array>
+  <key>SUPublicEDKey</key>
+  <string>LzQmcNuTsdB3/dsivo0eeN+jPfDoriRHAkkEJcfFs2A=</string>
+  <key>SUEnableAutomaticChecks</key>
+  <true/>
+  <key>SUScheduledCheckInterval</key>
+  <integer>1080</integer>
+  <key>SUAllowsAutomaticUpdates</key>
+  <true/>
+  <key>SUAutomaticallyUpdate</key>
+  <true/>
+	<key>CrProductDirName</key>
+	<string>BrowserOS</string>
 </dict>
 </plist>
